body.light header {
  padding: 20px;
  background-color: var(--White-Dark-Mode-Text-and-Light-Mode-Elements);
}

body.light header .title {
  font-size: 18px;
  font-weight: 800;
  color: var(--Very-Dark-Blue-Light-Mode-Text);
}

body.light header button {
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
  color: var(--Very-Dark-Blue-Light-Mode-Text);
  font-weight: 600;
}

body.light .listOfContenent p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.05), 1px -1px rgba(0, 0, 0, 0.05),
    -1px 1px rgba(0, 0, 0, 0.05), -1px -1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-color: var(--White-Dark-Mode-Text-and-Light-Mode-Elements);
  padding: 10px;
  border-radius: 6px;
}

body.light #ul {
  position: absolute;
  list-style: none;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.05), 1px -1px rgba(0, 0, 0, 0.05),
    -1px 1px rgba(0, 0, 0, 0.05), -1px -1px rgba(0, 0, 0, 0.05);
  display: none;
  background-color: var(--White-Dark-Mode-Text-and-Light-Mode-Elements);
  top: 45px;
  border-radius: 6px;
  width: 100%;
  padding: 10px;
}

body.light #ul li {
  text-align: center;
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid var(--Very-Light-Gray-Light-Mode-Background);
}

body.light .searchBar {
  border-radius: 6px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--White-Dark-Mode-Text-and-Light-Mode-Elements);
  padding: 0 10px;
  gap: 10px;
}

body.light .searchBar input {
  width: 90%;
  color: var(--Very-Dark-Blue-Light-Mode-Text);
  background-color: transparent;
  border: none;
  padding: 10px;
  outline: none;
}

body.light .countries {
  min-height: 100vh;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.05);
  background-color: var(--Very-Light-Gray-Light-Mode-Background);
  color: var(--Very-Dark-Blue-Light-Mode-Text);
}
body.light .countriesList .card {
  flex-basis: 30%;
  border-radius: 10px;
  background-color: var(--White-Dark-Mode-Text-and-Light-Mode-Elements);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.05), 1px -1px rgba(0, 0, 0, 0.05),
    -1px 1px rgba(0, 0, 0, 0.05), -1px -1px rgba(0, 0, 0, 0.05);
}

body.light .countryPage {
  background-color: var(--Very-Light-Gray-Light-Mode-Background);
  color: var(--Very-Dark-Blue-Light-Mode-Text);
  min-height: calc(100vh - 64px);
}

body.light.back button {
  padding: 7px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  outline: none;
  border: none;
  background-color: var(--White-Dark-Mode-Text-and-Light-Mode-Elements);
  border-radius: 6px;
  color: var(--Very-Dark-Blue-Light-Mode-Text);
  box-shadow: 1px 1px#202020, -1px -1px#202020, -1px 1px#202020, 1px -1px#202020;
}

body.light .country-page .details .info .lists .list .group p {
  width: fit-content;
  padding: 2px 5px;
  background-color: var(--White-Dark-Mode-Text-and-Light-Mode-Elements);
  color: var(--Very-Dark-Blue-Light-Mode-Text);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.05), 1px -1px rgba(0, 0, 0, 0.05),
    -1px 1px rgba(0, 0, 0, 0.05), -1px -1px rgba(0, 0, 0, 0.05);
}

body.light .country-page .details .borders .group p {
  width: fit-content;
  padding: 5px 20px;
  background-color: var(--White-Dark-Mode-Text-and-Light-Mode-Elements);
  cursor: pointer;
  color: var(--Very-Dark-Blue-Light-Mode-Text);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.05), 1px -1px rgba(0, 0, 0, 0.05),
    -1px 1px rgba(0, 0, 0, 0.05), -1px -1px rgba(0, 0, 0, 0.05);
}
